<div class="container mt-3">
  <div class="btn-group">
    <input
      type="radio"
      class="btn-check"
      name="unread"
      value="Unread"
      id="btn-radio-unread"
      [checked]="messagesParams().container === 'Unread'"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-unread"
      (click)="setMessagesParamsContainer('Unread')">
      Unread
    </label>

    <input
      type="radio"
      class="btn-check"
      name="inbox"
      value="Inbox"
      id="btn-radio-inbox"
      [checked]="messagesParams().container === 'Inbox'"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-inbox"
      (click)="setMessagesParamsContainer('Inbox')">
      Inbox
    </label>

    <input
      type="radio"
      class="btn-check"
      name="outbox"
      value="Outbox"
      id="btn-radio-outbox"
      [checked]="messagesParams().container === 'Outbox'"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-outbox"
      (click)="setMessagesParamsContainer('Outbox')">
      Outbox
    </label>
  </div>
</div>

<table class="table table-hover mt-3 cursor-pointer">
  <thead>
    <tr>
      <th scope="col" class="width-p40">Message</th>
      <th scope="col" class="width-p20">From / To</th>
      <th scope="col" class="width-p20">Sent / Received</th>
      <th scope="col" class="width-p20"></th>
    </tr>
  </thead>

  <tbody class="align-middle">
    @for (message of messages(); track message.id) {
      <tr [routerLink]="getRoute(message)" [queryParams]="{ tab: 'Messages' }">
        <td>{{ message.content }}</td>
        <td>
          <div>
            <img
              class="rounded-circle me-2"
              [src]="
                messagesParams().container === 'Outbox'
                  ? message.recipientPhotoUrl || './assets/user.png'
                  : message.senderPhotoUrl || './assets/user.png'
              "
              alt="image of user" />

            <div>
              <strong>
                {{
                  messagesParams().container === 'Outbox'
                    ? message.recipientUsername
                    : message.senderUsername
                }}
              </strong>
            </div>
          </div>
        </td>
        <td>
          {{ message.messageSent | timeago }}
        </td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    } @empty {
      <td colspan="5" class="text-center">
        <h3 class="mt-5">No messages</h3>
      </td>
    }
  </tbody>
</table>

@if (messages()?.length && messagesPagination()) {
  <div class="d-flex justify-content-center mt-4">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="messagesPagination()!.totalItems"
      [itemsPerPage]="messagesPagination()!.itemsPerPage"
      (pageChanged)="onPageChange($event)"
      [ngModel]="messageService.messagesPagination()!.currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;" />
  </div>
}
