.card:hover img {
  transform: scale(1.2, 1.2);
  transition: transform 0.5s ease-out;
}

.card img {
  transform: scale(1, 1);
  transition: transform 0.5s ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-wrapper:hover .member-icons {
  opacity: 1;
  bottom: 0;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  opacity: 0;
}

.like-icon {
  color: red;
}

.animate {
  transition: all 0.5s ease-in-out;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(1, 189, 42);
}
