<div class="text-center mt-3">
  <h2>{{ getTitle() }}</h2>
</div>

<div class="conatiner mt-3">
  <div class="btn-group">
    <input
      type="radio"
      class="btn-check"
      name="predicate"
      value="liked"
      id="btn-radio-liked"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-liked"
      (click)="setPredicate('liked')">
      Members I like
    </label>

    <input
      type="radio"
      class="btn-check"
      name="predicate"
      value="likedBy"
      id="btn-radio-likedBy"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-likedBy"
      (click)="setPredicate('likedBy')">
      Members who like me
    </label>

    <input
      type="radio"
      class="btn-check"
      name="predicate"
      value="mutual"
      id="btn-radio-mutual"
      autocomplete="off" />
    <label
      class="btn btn-primary"
      for="btn-radio-mutual"
      (click)="setPredicate('mutual')">
      Mutual
    </label>
  </div>

  @if (likesMemebers()?.length) {
    <div class="row mt-3">
      @for (member of likesMemebers(); track member.id) {
        <div class="col-2">
          <app-member-card [member]="member" />
        </div>
      }
    </div>
  } @else {
    <div class="row mt-3 text-center fs-3">
      <div class="col-12">No results found</div>
    </div>
  }
</div>

@if (likesMemebers()?.length && likesPagination()) {
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="likesPagination()!.totalItems"
      [itemsPerPage]="likesPagination()!.itemsPerPage"
      (pageChanged)="onPageChange($event)"
      [ngModel]="likesService.likesPagination()!.currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;" />
  </div>
}
