<div class="row">
  <div class="text-center mt-3">
    <h2>Your matches - {{ paginatedResult()?.pagination?.totalItems }}</h2>
  </div>

  <div class="conatiner my-3">
    <form
      #form="ngForm"
      (submit)="loadMembers()"
      class="d-flex align-items-center gap-3">
      <div class="d-flex gap-3">
        <label class="col-form-label">Age from:</label>
        <input
          type="number"
          class="form-control ms-1 width-70"
          name="minAge"
          [value]="memberService.userParams().minAge"
          (change)="changeUserParam($event, 'minAge')" />
      </div>

      <div class="d-flex gap-3">
        <label class="col-form-label">Age to:</label>
        <input
          type="number"
          class="form-control ms-1 width-70"
          name="maxAge"
          [value]="memberService.userParams().maxAge"
          (change)="changeUserParam($event, 'maxAge')" />
      </div>

      <div class="d-flex gap-3">
        <label class="col-form-label">Show:</label>
        <select
          name="gender"
          class="form-select ms-1 width-130"
          (change)="changeUserParam($event, 'gender')">
          @for(option of genderList; track option.value){
          <option [value]="option.value">{{ option.display }}</option>
          }
        </select>
      </div>

      <button class="btn btn-primary" type="submit">Apply filters</button>

      <button class="btn btn-info" type="button" (click)="resetFilters()">
        Reset filters
      </button>

      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group">
        <input
          type="radio"
          class="btn-check"
          name="orderBy"
          value="lastActive"
          id="btn-radio-last-active"
          autocomplete="off"
          checked
          (change)="loadMembersWithOrder($event)" />
        <label class="btn btn-outline-primary" for="btn-radio-last-active">
          Last Active
        </label>

        <input
          type="radio"
          class="btn-check"
          name="orderBy"
          value="created"
          id="btn-radio-created"
          autocomplete="off"
          (change)="loadMembersWithOrder($event)" />
        <label class="btn btn-outline-primary" for="btn-radio-created">
          Created
        </label>
      </div>
    </form>
  </div>

  @for(member of paginatedResult()?.items; track member.id) {
  <div class="col-2">
    <app-member-card [member]="member" />
  </div>
  }
</div>

@if(paginatedResult()?.pagination) {
<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="(paginatedResult()?.pagination)!.totalItems"
    [itemsPerPage]="(paginatedResult()?.pagination)!.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="(memberService.paginatedResult()?.pagination)!.currentPage"
    [maxSize]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;" />
</div>
}
