<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <app-text-input
    id="username-input"
    label="username"
    placeholder="Username"
    [formControl]="registerForm.controls.username" />

  <app-text-input
    id="password-input"
    label="Password"
    placeholder="Password"
    type="password"
    [formControl]="registerForm.controls.password" />

  <app-text-input
    id="confirm-password-input"
    label="Confirm Password"
    placeholder="Confirm Password"
    type="password"
    [formControl]="registerForm.controls.confirmPassword" />

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
